@using FirstTier.Authentication
@using FirstTier.Data
@using FirstTier.Models
@using FirstTier.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AccountService AccountService
@inject AuthenticationStateProvider AuthenticationStateProvider

@*<div class="sidebar">
    <NavMenu/>
</div>*@
<ul>
    <AuthorizeView Policy="LoggedUser">
        <NotAuthorized>
            <li><a class="oi oi-home" href="/"> Home</a> </li>
            <li><a class="oi oi-heart" href="/ContactUs"> Contact us</a> </li>
            <li style="float:right">
                <a class="active" href="/login"> Log in</a>
                @*<NavLink class="nav-link" href="Login">
                    <span class="oi oi-person" aria-hidden="true"></span> Log in
                </NavLink>*@
            </li>

        </NotAuthorized>
        <Authorized>
            <li><a class="oi oi-home" href="/"> Home</a> </li>
            <li><a class="oi oi-person" @onclick="profileClick" style="color: white"> My Profile</a> </li>
            <li><a class="oi oi-plus" href="/AddArtwork"> Add new artwork</a> </li>
            <li><a class="oi oi-chat" href="/Chat"> Chat</a> </li>
            <li><a class="oi oi-heart" href="/ContactUs"> Contact us</a> </li>

            <li style="float:right">
                <a class="active" href="/" @onclick="PerformLogout"> Log out</a>

                @*<NavLink class="nav-link" href="" @onclick="PerformLogout">
                    <span class="oi oi-person" aria-hidden="true"></span> Log out
                </NavLink>*@
            </li>
        </Authorized>
    </AuthorizeView>
   
</ul> 
@Body
@code{
    private Account account = new Account();
    int id;
    
    
    private async Task profileClick()
    {
       
        User user = ((UserCustomAuthenticationStateProvider) AuthenticationStateProvider).GetCurrentUser();
        if (user != null)
        {
           NavigationManager.NavigateTo("/Profile/"+user.ID,true);
        }
      
    }

    protected override Task OnInitializedAsync()
    {
        return  Task.CompletedTask;
    }

    public async Task PerformLogout()
    {
        try
        {
            ((UserCustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    

}