@using FirstTier.Authentication
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <Login/>
      
        <button class="buttonMenu">
            <a href="" @onclick="PerformLogout">
                <span>
                    Log out
                </span>
            </a>
        </button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code{

    public async Task PerformLogout()
    {
        try
        {
            ((UserCustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }


}