@page "/Profile"
@using FirstTier.Models
@inject NavigationManager NavigationManager
<body>
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="images/0190.jpg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img  style="height: 150px; width: 150px; margin-top: 10px" src="http://nicesnippets.com/demo/1499344631_malecostume.png">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                            <div class="aboutme "><i class="fa fa-user-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="row user-detail-row" style="margin-top: 80px">
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                            <div class="border"></div>
                                <p>About me</p>
                                <span>description</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-9 profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>first and last name</h1>
                                    <p>username</p>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                     @*<button class="btn button" type="submit" @onclick="Chat">
                                                        <span>Chat</span>
                                                        </button>*@
                                    <button  class="btn btn-info req-btn" type="submit" @onclick="Chat" > Chat with me!</button>                          
                                    <button class="btn btn-info req-btn" type="submit"> Report me!</button> 
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12  profile-tag-section text-center">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 profile-tag">
                                            <a href="\EditProfile"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                            <p>edit profile</p></a>
                                        </div>
                                        <div class="col-md-3 col-sm-3 profile-tag">
                                            <a @onclick="DeleteProfile"><i class="fa fa-address-book" aria-hidden="true"></i>
                                            <p>delete profile</p></a>
                                        </div>
                                    </div>
                                </div><div class="col-md-4 img-main-rightPart">
                                    <div class="row">
                                                                             
                                        <div  class="col-md-12 image-right">
                                                                    
                                        </div>
                                                                             
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                                                       <table class="table">
                                                            <thread>
                                                                <tr>
                                                                    <th>My artworks</th>
                                                                </tr>
                                                            </thread>
                                                            <tbody>
                                                            @*@foreach (Artwork artwork in myArtworks)
                                                            {
                                                                <tr>
                                                                    <td>artwooooooorrrkkkk</td>
                                                                    
                                                                </tr>
                                                            }*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@code {
    IList<Artwork> myArtworks;
    Account account = new Account();

    byte[] img;
    string imagePath = "images/picfile.png";

    private void Chat()
    {
        NavigationManager.NavigateTo("/Chat");
    }
    private void EditProfile()
    {
        NavigationManager.NavigateTo("/EditProfile");
    }
    private void DeleteProfile()
    {
        NavigationManager.NavigateTo("/EditProfile");
    }
}